.container{
    position: absolute;
    left: 8px;
    top: 8px;
}
.buttonSearch{
    border-radius: 5px;
    border-color: transparent;
    color:black;
    background-color: lightgray;
}
.input{
    background-color:transparent;
    border-color: transparent;
    width: 200px;
    height: 20px;
    color:white;
}